<launch>

    <machine name="rosgolf_robot" address="192.168.1.81"/>

    <arg name="model" default="$(find ros_odrive)/urdf/rosgolf.urdf"/>

    <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <param name="rate" value="50"/>
    </node>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
        <param name="publish_frequency" type="double" value="50"/>
        <param name="use_tf_static" value="true" type="bool"/>
    </node>

    <node name="ros_odrive" pkg="ros_odrive" type="ros_odrive" required="true" output="screen">
        <param name="rate" value="10"/>
        <param name="od_sn" value="0x335831593536"/>
        <!--    <remap from="ros_odrive/odom" to="odom"/>-->
    </node>
    <node ns="imu" name="imu_node" pkg="imu_bno055" type="bno055_i2c_node" respawn="true" respawn_delay="2">
        <param name="device" type="string" value="/dev/i2c-5"/>
        <param name="address" type="int" value="40"/> <!-- 0x28 == 40 is the default for BNO055 -->
        <param name="frame_id" type="string" value="imu"/>
    </node>

    <node pkg="robot_localization" type="ekf_localization_node" name="rosbot_ekf" clear_params="true">
        <rosparam command="load" file="$(find ros_odrive)/params/ekf_params.yaml" />
        <!--  Placeholder for output topic remapping -->
        <remap from="odometry/filtered" to="odom"/>
        <!-- <remap from="accel/filtered" to=""/> -->

    </node>

</launch>