<?xml version="1.0"?>
<launch>
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" >
    <arg name="port" value="8080"/>
  </include>
  <include file="$(find rplidar_ros)/launch/rplidar.launch"/>
  <include file="$(find ros_odrive)/launch/diagnostics.launch"/>
  <node name="ros_odrive" pkg="ros_odrive" type="ros_odrive" args="_od_sn:=0x335831593536"/>
  <node pkg="tf" type="static_transform_publisher" name="base_to_laser_broadcaster" args="0 0 0 0 0 0 base_link laser 100" />
</launch>