<?xml version="1.0"?>
<launch>
  <node name="ros_odrive" pkg="ros_odrive" type="ros_odrive" required="true">
    <param name="rate" value="8"/>
    <param name="od_sn" value="0x335831593536"/>
    <!--    <remap from="rosodrive/odom" to="odom"/>-->
  </node>
  <include file="$(find ros_odrive)/launch/urdf.launch"/>
  <node name="robot_pose_publisher" pkg="ros_odrive" type="robot_pose_publisher" required="true">
  </node>

<!--  <include file="$(find ros_odrive)/launch/rosgolf_localization.launch"/>-->
<!--  <include file="$(find ros_odrive)/launch/robot_pose_ekf.launch"/>-->
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" >
    <arg name="port" value="8080"/>
  </include>
  <include file="$(find ros_odrive)/launch/rplidar.launch"/>
<!--  <include file="$(find ros_odrive)/launch/hector_slam.launch"/>-->
  <include file="$(find ros_odrive)/launch/cartographer_ros.launch"/>
<!--  <include file="$(find ros_odrive)/launch/diagnostics.launch"/>-->
  <include file="$(find ros_odrive)/launch/move_base.launch"/>
  <include file="$(find ros_odrive)/launch/webui.launch"/>
</launch>